*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.container-full{
    max-width: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-14{
    width: calc(100% / 7)
}

/* commons */

body{
color: white;
background-color: black;
}

main{
    margin-top: 10px;
}

a{
    text-decoration: none;
}

/* specifics */

.top-menu{
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.user{
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px 10px;
}

/* style */

.text-right{
    text-align: right;
}

.bg-lightgrey{
    background-color: lightgray;
}

.margin{
    margin: 50px 0;
}



