*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.container-full{
    max-width: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-14{
    width: calc(96.5% / 7);
}

.col-10{
    width: 10%;
}

.col-90{
    width: 90%;
}

.gap-05{
    gap: 5px;
}

/* commons */

body{
    color: white;
    background-color: black;
}

main{
    margin-top: 10px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

footer{
    background-color: rgba(169, 169, 169, 0.263);
    height: 70px;
}

a{
    text-decoration: none;
}

/* specifics */

.top-menu{
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.user{
    margin: 10px 0;
}

.main-menu{

}

/* style */

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.bg-lightgrey{
    background-color: lightgray;
}

.margin{
    margin: 50px 0 25px 0;
}



